#schedule-grid-container {
    border-radius: 23px;
    background-color: white;
    padding: 15px;
}

#schedule-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px;
    background-color: white;
    color: #252525;
    border-radius: 17px;
    border: solid 2px #d4d4d4;
    cursor: default;
}

.schedule-day {
    display: grid;
    grid-template-columns: 60px 200px;
    grid-template-rows: auto 10px;
    row-gap: 19px;
}

.schedule-day > h2 {
    grid-column: 1 / 3;

    margin: 0;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Lato';
}

.schedule-day > h3 {
    grid-column: 1 / 3;

    margin: 0;
    position: relative;
    top: -35px;
    right: -95px;
    color: #b72ce4;
    font-family: 'Lato';
    font-size: 26px;
}

.schedule-item-time {
    color: #135eaab8;
}

.schedule-item-name {
    border-bottom: solid 1px #DDD;
}

.schedule-item-name.sublist {
    position: relative;
    cursor: pointer;
}

.schedule-item-name.sublist:hover {
    color: #b72ce6;
}

.schedule-item-name.sublist > ion-icon {
    position: absolute;
    right: 0;
}

.schedule-sublist {
    display: none;
    position: absolute;
    left: -67px;
    border-radius: 10px;
    background: linear-gradient(45deg, #549ddc, #b94de4);
    color: white;
    border: none;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    width: 280px;
    font-size: 14px;
    z-index: 10;
}

.schedule-sublist.active {
    display: inherit;
}

.schedule-sublist-name {
    text-align: left;
}

.schedule-sublist-author {
    text-align: right;
    margin-bottom: 15px;
    font-weight: bold;
}

.schedule-sublist-affiliation {
    font-weight: normal;
    padding-left: 7px;
}

@media screen and (max-width: 800px) {

    #schedule-grid {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .schedule-day {
        padding: 20px;
    }
}
