html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #001d31;
    overflow-x: hidden;
    background: linear-gradient(7deg, #7a24ca -10%, #22c1c3 60%,#fdbb2d 105%);
    line-height: 1.6;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#contact {
    padding-top: 0;
    padding-bottom: 50px;
}

body > *:first-child {
    margin-bottom: 0;
    padding-top: 0;
}

.full-bleed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo-container {
    background-color: #EEF2F9;
    margin-top: -100px;
}

#about {
    background: linear-gradient(15deg, #47a849 0%, #6ed19b 60%, #b6fde8 100%);
    padding: 0 30%;
}

#keynote {
    background: linear-gradient(15deg, #ff4f75 0%, #f091a9 60%,#ffdff1 100%);
    padding: 0;
}

#schedule {
    background: linear-gradient(15deg, #1b8cdd 0%, #3899ce 60%, #b0ecff 100%);
    padding: 0;
}

#contact {
    background-color: #EEF2F9;
}


.logo-below {
    margin-top: 10px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-below img {
    width: 2vw;
    margin: 1vw;
}

h2, h3 {
    font-family: 'Commissioner', Arial, sans-serif;
    font-weight: normal;
    line-height: 1.2;
}

#about h1 {
    border-bottom: solid 3px #005201;
    color: #005201;
}

#keynote h1 {
    border-bottom: solid 3px #77001a;
    color: #77001a;
}

#schedule h1 {
    border-bottom: solid 3px #005999;
    color: #005999;
}

#contact h1 {
    border-bottom: solid 3px #005999;
    color: #005999;
}

canvas {
    display: block;
    /* background: linear-gradient(7deg, #22c1c3 -10%,#fdbb2d 120%); */
}

.logo-img {
    width: 60vh;
}

#nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* grid-template-columns: 1fr min(75ch, 100%) 1fr; */
    padding: 20px 0;
    z-index: 10000;
    background-color: transparent;
    transition: background-color 0.8s ease 0s;
}

#nav-container.solid {
    background-color: #353535;
    color: #EEF2F9;
}

@media screen and (max-width: 900px) {
    #nav-container {
    }
}

#nav-container nav {
    display: flex;
    justify-content: flex-end;
}

#nav-container nav a {
    color: #E40032;
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9vw;
    padding: 0 50px;
}

#nav-container.solid nav a {
    color: #EEF2F9;
}

#nav-container nav a:hover {
    font-weight: 600;
    filter: brightness(1.2) saturate(1.2);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-top: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 60px;
    /* border: solid 2px white; */
    color: #EEF2F9;
    font-size: 20px;
    cursor: pointer;
    margin: 0 20px;
    user-select: none;
    font-weight: 500;
    transition-duration: 0.2s;
    background-position: 0% 50%;

}

.register, .contact {
    background: linear-gradient(15deg, #bd0029 0%, #d8063b 60%,#eb47a1 100%);
}

.more-info {
    background: linear-gradient(15deg, #007F02 0%, #009643 60%, #00c58a 100%);
}

.schedule {
    background: linear-gradient(15deg, #005999 0%, #0077b6 60%, #00a4d6 100%);
}

.button:hover {
    background-position: 100% 50%;
    filter: brightness(1.2) saturate(1.2);
}




#canvas-container {
    position: relative;
    flex-direction: row;
}

#canvas-container:before {
    background-image: url('res/background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: li;
    opacity: 0.15;
    z-index: -10;
}

#canvas-container .btn-container {
    position: absolute;
    bottom: 15%;
}

.speaker-container {
    display: flex;
    justify-content: center;
}

.speaker-container > * {
    margin: 0 125px;
}

@media screen and (max-width: 900px) {
    .speaker-container {
        flex-direction: column;
    }
    .speaker-container > * {
        margin: 0;
    }
}

.speaker-container img {
    width: 256px;
    height: 256px;
    background-color: white;
    border-radius: 50%;
}
