body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
}

canvas {
    display: block;
    background: linear-gradient(7deg, #22c1c3 -10%,#fdbb2d 120%);
}

button:focus {
    outline:0;
}

.more-info {
    position: fixed;
    width: 140px;
    height: 60px;
    z-index: 1000;
    left: 50%;
    margin-left: -70px;
    bottom: 150px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.more-info:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
